# Ignorer les fichiers temporaires et de cache de Godot
.import/
.godot/
.mono/
export.cfg
export_presets.cfg

# Ignorer les fichiers Blender temporaires
*.blend1
*.blend2
*.blend@
*.temp
__pycache__/
